@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* beautiful scrollbars */
*::-webkit-scrollbar {
  width: 7px;
  height: 100%;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb:hover {
  background: #f8fafc;
}
.reddit::-webkit-scrollbar,
.reddit::-webkit-scrollbar-track,
.reddit::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
  display: none;
}
