@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Caveat";
  src: local("Caveat"),
    url(../public/fonts/Caveat-VariableFont_wght.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "GreatVibes";
  src: local("GreatVibes"),
    url(../public/fonts/GreatVibes-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "FiraCode";
  src: local("FiraCode"),
    url(../public/fonts/FiraCode-VF.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* beautiful scrollbars */
*::-webkit-scrollbar {
  width: 7px;
  height: 100%;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb:hover {
  background: #f8fafc;
}
.noscroll::-webkit-scrollbar,
.noscroll::-webkit-scrollbar-track,
.noscroll::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
  display: none;
}

.scroll::-webkit-scrollbar,
.scroll::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-thumb {
  height: 7px;
}
.scroll::-webkit-scrollbar-thumb {
  background: #2b4246;
}
